/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(284, 66%, 55%);
  --primary-hover: hsl(284, 46%, 65%);
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 7%);
  --secondary-text-color: hsl(0, 0%, 73%);

  --text-color-translucent: hsla(0, 0%, 100%, 0.5);
  --secondary-text-color-translucent: hsla(0, 0%, 73%, 0.5);
  --navbar-hover: hsla(0, 0%, 73%, 0.2);

  --navbar-bg: rgba(0, 0, 0, 1);
  --hero-bg-gradient: linear-gradient(135deg, hsl(0, 0%, 12%) 0%, hsl(0, 0%, 20%) 100%);
  --nav-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

body.light-theme {
  --primary-color: hsl(284, 66%, 45%);
  --primary-hover: hsl(284, 46%, 55%);
  --text-color: hsl(0, 0%, 10%);
  --background-color: hsl(0, 0%, 95%);
  --secondary-text-color: hsl(0, 0%, 40%);

  --text-color-translucent: hsla(0, 0%, 10%, 0.5);
  --secondary-text-color-translucent: hsla(0, 0%, 40%, 0.5);
  --navbar-hover: hsla(0, 0%, 40%, 0.2);

  --navbar-bg: rgba(255, 255, 255, 1);
  --hero-bg-gradient: linear-gradient(135deg, hsl(0, 0, 88%) 0%, hsl(0, 0%, 80%) 100%);
  --nav-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body,
html {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navigation Bar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4em;
  background-color: var(--navbar-bg);
  z-index: 999;

  & .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  transition: top 0.3s ease-in-out;
  gap: 0.5em;

  & a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;

    padding: 0.5em;
    border-radius: 5px;

    &:hover {
      background-color: var(--navbar-hover);
    }
  }
}

/* Theme Toggle Button */
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  align-items: center;
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 1em;

  &:hover {
    color: var(--primary-color);
  }

  & svg {
    display: block;
    margin-right: 5px;
  }
}

.theme-text {
  display: none;
  font-weight: bold;
  font-size: 1rem;
}

/* Mobile Menu Icon */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;

  z-index: 1000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar .logo a {
    font-size: 1.5rem;
  }

  .nav-links {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 75vh;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2em;

    box-shadow: var(--nav-shadow);
  }

  .nav-links.active {
    top: 0;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .theme-toggle svg {
    display: none;
  }

  .theme-text {
    display: inline;
  }

  .menu-toggle {
    display: block;
  }
}