/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background: var(--hero-bg-gradient);
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: var(--secondary-text-color);
}

.socials {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  
  & a {
    color: var(--text-color);
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: var(--primary-color);
      transform: scale(1.2);
    }
  }
}

.cta-btn {
  padding: 15px 30px;
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
  background: var(--primary-hover);
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .social-icons a {
    font-size: 1.8rem;
  }

  .cta-btn {
    padding: 12px 25px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .social-icons a {
    font-size: 1.5rem;
  }

  .cta-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
