/* CSS Reset - Additional resets beyond Open Props normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Remove padding from most elements, but not buttons/links with .button class */
:where(*:not(.button)) {
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  /*text-decoration: none;*/
  color: inherit;
}

button:not(.button) {
  border: none;
  background: none;
  cursor: pointer;
}

button.button {
  cursor: pointer;
}
