.aboutMe {
    padding: var(--size-4);
    margin-bottom: var(--size-6);
    margin-inline: auto;
}

.bio {
    font-size: var(--font-size-2);
    line-height: var(--font-lineheight-4);
    color: var(--color-text);
    margin-bottom: var(--size-4);
}

.bio:last-child {
    margin-bottom: 0;
}

@media (--md-n-above) {
    .aboutMe {
        padding: var(--size-5);
        margin-bottom: var(--size-8);
    }

    .bio {
        font-size: var(--font-size-3);
    }
}
