.subtitle {
    font-size: var(--font-size-2);
    color: var(--color-text-secondary);
    margin-bottom: var(--size-6);
    /*text-align: center;*/
}

.contactCard {
    background: var(--color-surface);
    border-radius: var(--radius-3);
    padding: var(--size-6);
    box-shadow: var(--shadow-2);
    margin-top: var(--size-6);
    max-width: 90%;

    margin-inline: auto;
}

.contactContainer {
    display: grid;
    gap: var(--size-8);
}

.formSection h2 {
    font-size: var(--font-size-3);
    margin-bottom: var(--size-3);
    color: var(--color-text);
}

.altContact {
    font-size: var(--font-size-1);
    color: var(--color-text-secondary);
    margin-bottom: var(--size-5);
}

.altContact a {
    color: var(--color-primary);
    text-decoration: none;
}

.altContact a:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
}

@media (--md-n-above) {
    .contactCard {
        width: calc(var(--size-content-3) * 2);
        max-width: 80%;
    }

    .contactContainer {
        grid-template-columns: 3fr 1fr;
        gap: var(--size-6);
    }
}
