.toast {
  position: fixed;
  top: var(--size-12);
  right: var(--size-4);
  padding: var(--size-4) var(--size-6);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-4);
  background-color: var(--gray-8);
  color: var(--gray-0);
  font-size: var(--font-size-1);
  z-index: 1000 !important;
  isolation: isolate;
  animation: slideInRight var(--ease-3) 0.3s;
  max-width: 90%;
  min-width: var(--size-content-1);
}

.processing {
  background-color: var(--blue-6) !important;
  color: var(--gray-0) !important;
}

.success {
  background-color: var(--green-6) !important;
  color: var(--gray-0) !important;
}

.failure {
  background-color: var(--red-6) !important;
  color: var(--gray-0) !important;
}

@keyframes slideInRight {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: var(--size-4);
    opacity: 1;
  }
}

@media (--md-n-above) {
  .toast {
    max-width: var(--size-content-2);
  }
}
