/* Education Page Styles */
.education-container {
    padding-block: 6em;
    max-width: 75em;
    margin: 0 auto;
}

.education-container h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.education-section {
    margin-bottom: 50px;
    padding-inline: 3em;
}

.education-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
}

/* Education Entries */
.education-card {
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--secondary-text-color-translucent);
}

.education-card h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.education-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--secondary-text-color);
    margin: 0.5em 0;
}

/* Certifications - Similar to Project Cards */
.certification-card {
    flex: 1 1 300px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color-translucent);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    transition: transform 0.3s ease;

    text-decoration: none;
    color: var(--text-color);
}

.certification-card:hover {
    transform: translateY(-2px);
}

.certification-card h3 {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.certification-card p {
    line-height: 1.25;
    color: var(--secondary-text-color);
}

/* Certifications Layout */
.education-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

/* Responsive Design */

@media (max-width: 768px) {
    .education-container h1 {
        font-size: 2.5rem;
    }

    .education-section {
        padding-inline: 1.5em;
    }

    .education-section h2 {
        font-size: 1.8rem;
    }

    .certification-card {
        max-width: 100%;
        flex-basis: auto;
    }
}

@media (max-width: 480px) {
    .education-container h1 {
        font-size: 2rem;
    }

    .education-section h2 {
        font-size: 1.5rem;
    }

    .certification-card {
        padding: 15px;
    }

    .certification-card a {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    .certification-card svg {
        width: 18px;
        height: 18px;
    }
}